body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: gainsboro;
    color: purple;
}

.navbar a.active {
    background-color: gainsboro;
    color: purple;
}

/* Main section */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero img {
    background-image: url("profile.JPG");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: normal;
}

.hero h1 span {
    color: purple;
    font-style: italic;
}

.description {
    max-width: 600px;
    font-size: 1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}

.hero-project h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.description {
    max-width: 500px;
    margin: 0 auto 30px auto;
    font-size: 1rem;
}

/* Project layout */
.project-grid {
    display: flex;
    justify-content: center;
}

.project-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* Project image */
.project-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Site Report hero section */
.hero-report {
    min-height: 80vh;
    text-align: center;
    padding: 40px 20px;
}

/* Headings */
.hero-report h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/* Text */
.hero-report p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 1rem;
}

/* Site Report Page */

.hero-report {
    min-height: 80vh;
    padding: 40px 20px;
    text-align: center;
}

.hero-report h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-report h2 {
    margin-top: 30px;
    font-size: 1.5rem;
}

.hero-report p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 1rem;
}

.hero-report .description {
    margin-bottom: 30px;
}


/* Mobile */
@media screen and (max-width: 600px) {
    .hero h1 {
        font-size: 2.2rem;
    }
}